# Large binary artifacts
*.img
*.tar.gz
*.zip
build-disk.img
boot_*.img
*blobs*.tar.gz
*.bin
*.dtb
*.dtbo

# Build outputs
build/
out/
AnyKernel3/

# IDE
.DS_Store
.vscode/
.idea/

# Submodules/repos (fetched at build time)
kernel_src/
device-dre/
vendor-dre/
odm/
vendor/
blobs/
firmware/
dtb/

# Local build outputs
Image
Image.gz
ramdisk.cpio.gz
kernel.img
phone_config
phone_config.gz
phone_running_config
config_diff.txt
n200-ksu-next-full-*/
build.log
*.log
